<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  <ion-card *ngFor="let car of carros">
    <ion-slides>
      <ion-slide *ngFor="let image of car.images">
        <img [src]="image" />
      </ion-slide>
    </ion-slides>
    <ion-card-content>

      <ion-card-title>
        {{car.make}} {{car.model}}
      </ion-card-title>
      <p>Versão {{car.version}} {{car.engine}} {{car.year}}</p>

      <ion-fab>
        <button ion-fab>Share</button>
        <ion-fab-list side="right">
          <button ion-fab>Facebook</button>
          <button ion-fab>Twitter</button>
          <button ion-fab>Youtube</button>
        </ion-fab-list>
      </ion-fab>

    </ion-card-content>
  </ion-card>
</ion-content>
